    <h1>All petts</h1>

    <% @petts.each do |pett| %>
    <p><a href="/petts/<%= pett.id %>"><%= pett.name%> </a>

    <p>Breed: <%= pett.breed %></p>

    <img src=<%=pett.image%> width=50% height=auto >
    <% end %>

    <p><a href="/petts/new">New Pett!</a></p>
